
nav{

    background-color: purple;
    padding: 10px;
    

}

nav a{

    color: white;
    display: inline-block;
    padding: 20px;
    text-decoration: none;

}

h1{

    color: whitesmoke;
    text-shadow: 1px 2px 20px white;
    padding: 0 2rem;

}

main img{

    width:150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    padding-left: 1.5rem;

}

main p{

    background-color: black;
    border: solid black;
    border-radius: 5px;
    width: 100%;

}


p{

    padding: 0;
    color: white;

}

body{

    font-family: Noto Sans;
    background-image: url(/images/background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}



main{

    max-width: 840px;

}

aside{

    width: 20rem;
    margin: 1rem;
    border: 1px solid white;
    padding: 1rem;
    background-color: purple;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px gray;


}

aside img{

    width: 200px;
    height: auto;
    display: block;
    padding-left: 4rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 30px gray;

}


footer{

    margin-top: 15px;
    border-top: 1px solid white;
    text-align: center;
    color: white;
    font-size: 17px;

}

.cool_stuff {

    display: inline-block;
    position: absolute;
    right: 0;

}